@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Dosis:100,200,300,400,500,600,700');

body {
    background-color: #fdfdfd;
}
.heads {
    font-family: ;
    font-size: ;
}
.navBar {
    position: sticky;
    float: right;
    z-index: 1;
}
.navBar a {
    text-decoration: none;
    font-family: "Exo", sans-serif;
    color: #fafafa;
    letter-spacing: 2px;
    height: 50px;
}


.navBar li {
    margin-right: 15px;
    padding: 0;
    display: inline-block;
}
.navbar li a:hover {
    background-color: #dd780b;
}
.navBar ul {
    text-align: right;
    margin-right: 10px;
    margin-top: 14px;
}

#navSetup {
    background: rgba(0,0,0,0.5);
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
}

.diamond {
    background: none;
    font-size: 48px;
    float: top left;
    position: sticky;
    margin-left: 10px;
    color: #dd780b;
    z-index: 2;
}

.headers {
    font-family: "Exo", sans-serif;
    margin-top: 60px;
    margin-left: 5vw;
    font-weight: 400;
}

.fixing {
    position: absolute;
}

/*********** Hero ***********/
#home {
    background-attachment: fixed;
    background-image: url("../images/hero.jpg");
    background-position: bottom;
    background-size: cover;
    position: static;
    height: 100vh;
    width: 100%;
    margin-top: -50px;
}
#home p {
    font-family: "Dosis", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px;
}
#home span {
    font-family: "Exo", sans-serif;
    font-size: 5em;
    font-weight: 100;
    text-shadow: 2px 2px 3px;
}
.hero-text {
    padding-top: 25vh;
    margin-left: 5vw;
    position: relative;
    z-index: 2;
}

/*********** About ***********/
#about {
    background-image: url("../images/backgr.jpg");
    background-position: center;
    background-size: cover;
    position: static;
    height: 100vh;
    width: 100%;
    column-count: 2;
}

#about-info p {
    font-family: "Roboto", sans-serif;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
    font-weight: 300;
}

#about-pic img {
    height: 60vh;
    float: right;
    margin: 62px 5vw 62px 0;
}

/*********** Portfolio ***********/
#portfolio {
    background-attachment: fixed;
    background-image: url("../images/portfolio.jpg");
    background-position: center;
    background-size: cover;
    position: static;
    height: 100vh;
    width: 100%;
}

/*********** Skills ***********/
#skills {
    background-image: url("../images/backgr2.jpg");
    background-position: center;
    background-size: cover;
    position: static;
    height: 100vh;
    width: 100%;
}

#skills-info {
    column-count: 4;
}

/*********** Contact ***********/
#contact {
    background-attachment: fixed;
    background-image: url("../images/contact.jpg");
    background-position: center;
    background-size: cover;
    position: static;
    height: 100vh;
    width: 100%;
}